html {
  background: url(../Images/index.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*{
  margin: 0px;
  margin-left: 4vw;
  margin-right: 4vw;
  padding-left: 10px;
  padding-right: 10px;
}

.header{
  font-family: "Bodoni Moda", serif;
  font-size: 25px;
  color: #e6e2dc;
  /* background-color: #000000; */
  padding-top: 10px;
  padding-bottom: 10px;
  text-align:center;
}

.bodytext{
  font-family: "EB Garamond", serif;
  font-size: 20px;
  color: #e6e2dc;
  text-align: center;
  /* background-color: #000000; */
  line-height: 1.5;
