html {
  background: url(../Images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*{
  margin: 0px;
  margin-left: 8vw;
  margin-right: 8vw;
  padding-left: 10px;
  padding-right: 10px;
}

.header{
  font-family: "Bodoni Moda", serif;
  font-size: 25px;
  color: #e6e2dc;
  background-color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
}

.note{
  font-family: 'Reenie Beanie', cursive;
  font-size: 20px;
  color: #ebe7e1;
  text-align: justify;
  background-color: #000000;
  line-height: 1;
}

.bodytext{
  font-family: "EB Garamond", serif;
  font-size: 20px;
  color: #ebe7e1;
  text-align: justify;
  background-color: #000000;
  line-height: 1.5;
}

.monologue{
  font-family: "Cormorant Upright", serif;
  font-size: 20px;
  color: #ebe7e1;
  font-weight: bolder;
  background-color: #000000;
  text-align:center;
}

.a{
  text-align: center;
}

#trail{
  width: 45vw;
  margin-left: 0px;
}

.flavour{
  font-family: "EB Garamond", serif;
  font-size: 20px;
  color: #ebe7e1;
  text-align: center;
  visibility: collapse;
}

.choice{
  font-family: "EB Garamond", serif;
  font-size: 20px;
  color: #ebe7e1;
  text-align: center;
  visibility: collapse;
}

#anchor2{
  font-family: "EB Garamond", serif;
  font-size: 20px;
  color: #ebe7e1;
  visibility: collapse;
}

.puzzletext{
  font-family: "EB Garamond", serif;
  font-size: 20px;
  color: #ebe7e1;
  text-align: center;
}

.puzzle{
  display: grid;
  grid-template-columns: 10vw 10vw 10vw 10vw;
  padding-left: 7vw;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  align-content: space-between;
  font-family: "EB Garamond", serif;
  font-size: 50px;
  color: #ebe7e1;
  visibility: collapse;
}

#c{
  margin-left: 0px;
  padding-left: 0px;
  width: 2.5vw;
}

#a{
  margin-left: 0px;
  padding-left: 0px;
  width: 2.5vw;
}

#m{
  margin-left: 0px;
  padding-left: 0px;
  width: 2.5vw;
}

#p{
  margin-left: 0px;
  padding-left: 0px;
  width: 2.5vw;
}

#f{
  margin-left: 0px;
  padding-left: 0px;
  width: 2.5vw;
}

#i{
  margin-left: 0px;
  padding-left: 0px;
  width: 2.5vw;
}

#r{
  margin-left: 0px;
  padding-left: 0px;
  width: 2.5vw;
}

#e{
  margin-left: 0px;
  padding-left: 0px;
  width: 2.5vw;
}

.submit{
  text-align: center;
  visibility: collapse;
}

.failtext{
  font-family: "EB Garamond", serif;
  font-size: 20px;
  color: #ebe7e1;
  text-align: center;
  justify-content: center;
  visibility: collapse;
}

#anchor{
  font-family: "EB Garamond", serif;
  font-size: 20px;
  color: #ebe7e1;
  visibility: collapse;
}

#items1{
  height: 312px;
  width: 507px;
  margin-left: 0px;
  margin-right: 0px;
}

#items2{
  height: 312px;
  width: 507px;
  margin-left: 0px;
  margin-right: 0px;
}

.image{
  margin-left: 4vw;
  visibility: hidden;
}
